*.aux
*.log
*.nav
*.out
*.snm
*.toc
_ReSharper*
*.sdf
*.user
*.suo
obj
bin
*.pyc
*.obj
*.exp
*.dll
*.pyd
*.tlog
*.pdb
*.idb
*.ipch
*.lib
*.o
*.def
*.so
*.swo
*~
build
build_*
!plugins/build
*.swp
*.manifest
*.pch
*.rule
.clang_complete
